/* Styles for individual cells in the table-view */
.table-view-cell {
  z-index: 1;
  position: absolute;
  dislay: flex;
  height: 100%;
  width: 100%;

  .editable-element {
    height: 100%;
  }

  &-deleted {
    height:100%;
    background-color: #FFE5EA;
    border: 2px solid pink;
  }
}